extends ../layout
block content 
    
    h1 New Prescription

    form(action="/prescriptions", method="post") 
        section(class="prescriptions-section")
            label(for="appointment_id") Appointment 
            select#appointment_id(name="appointment_id") 
                each appointment in appointments 
                    option(value=appointment.appointment_id)= appointment.patient.name + " " + appointment.patient.surname

            
            label(for="medication_id") Medication 
            select#medication_id(name="medication_id") 
                each medication in medications 
                    option(value=medication.medication_id)= medication.name

            button Create