extends ../layout

block content 
    h1 Prescriptions 
    
    if role==="doctor"
        a(href="/prescriptions/create") New Prescription

    section(class="prescription-list")
        if appointments 
            each appointment  in appointments
                a(href=`/prescriptions/${appointment.prescription_id}`)
                    include prescriptionCard
        else 
            p There is no prescription available
        