extends ../layout

block content 
    h1 Prescriptions 
    
    if role==="doctor"
        a(href="/prescription/create") New Prescription

    section(class="prescription-list")
        if prescriptions
            each prescription in prescriptions
                a(href=`/prescription/${prescription.prescription_id}`)
                    include prescriptionCard
        else 
            p There is no prescription available
        