extends ./layout

block content

    ul 
        li 
            a(href="/appointments") Appointments
        li
            a(href="/prescriptions") Prescriptions
        li 
            a(href="/data/show") Data