extends ../layout

block content
    
    form(action="/register", method="post") 
        label(for="name") Name 
        input(type="text" name="name" id="name")
        label(for="surname") Surname 
        input(type="text" name="surname" id="surname")
        label(for="birthdate") Birthdate 
        input(type="text" name="birthdate" id="birthdate")
        label(for="name") SSN 
        input(type="text" name="ssn" id="snn")
        label(for="telephone") Telephone 
        input(type="text" name="telephone" id="telephone")
        label(for="email") Email
        input(type="email" name="email" id="email")
        label(for="password") Password
        input(type="password" name="password" id="password")
        
        button Register